#bar
    padding: 8px 16px
    
#title
    font-size: 32px
    letter-spacing: 1px
    float: left
    position: relative
    bottom: 6px

.form-control
    width: 500px
    margin: 0 35%

#detailsBtn
    display: inline
    margin: 0 20px 0 0

.dropdown
    display: inline
    margin: 0 8px 0 0

#attributeBtn
    width: 275px
    text-align: left

#dropdownMenu
    max-height: 400px
    overflow-y: auto

#percentDiv
    margin: 0 0 0 4px
    display: inline

#percentBox
    width: 16px
    height: 16px
    margin: 4px
    position: relative
    top: 3px

#resolutionBtn
    width: 225px
    text-align: left

.colorPicker
    height: 38px
    vertical-align: bottom

#tooltip
    padding: 8px 16px
    border-radius: 5px
    display: inline-block
    text-align: center
    background-color: black
    color: white
    opacity: 0.75
    position: absolute

#moe
    font-size: 12px

#map
    float: right