<div id="bar">
    <span id="title"><b>AmeriFacts</b></span>
    <input class="form-control" type="text" placeholder="Search" [ngbTypeahead]="search" (keydown.enter)="submitQuery($event.target.value)">
</div>
<div id="bar">
    <div class="btn-group-toggle" id="details-btn">
        <label class="btn btn-primary" ngbButtonLabel>
            <input #detailsBtn type="checkbox" ngbButton (click)="toggleDetails()"> Details
        </label>
    </div>
    <div ngbDropdown class="dropdown"><button class="btn btn-outline-secondary" ngbDropdownToggle [disabled]=true>American Community Survey  </button></div>
    <div ngbDropdown class="dropdown"><button class="btn btn-outline-secondary" ngbDropdownToggle [disabled]=true>2018  </button></div>
    <div ngbDropdown class="dropdown"><button class="btn btn-outline-secondary" ngbDropdownToggle [disabled]=true>1-Year  </button></div>
    <div ngbDropdown class="dropdown">
        <button class="btn btn-outline-secondary" id="attribute-btn" ngbDropdownToggle>{{attribute}}  </button>
        <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let attribute of attributes" (click)="selectAttribute(attribute)">
                {{attribute}}
            </button>
        </div>
        <div id="percentDiv">
            <input id="percentBox" type="checkbox" [disabled]="!hasPercentage">%
        </div>
    </div>
    <div ngbDropdown class="dropdown">
        <button class="btn btn-outline-secondary" id="resolution-btn" ngbDropdownToggle>by {{resolution}}  </button>
        <div ngbDropdownMenu>
            <button ngbDropdownItem *ngFor="let resolution of resolutions" (click)="selectResolution(resolution)">
                {{resolution}}
            </button>
        </div>
    </div>
    <div ngbDropdown class="dropdown">
        <button class="btn btn-outline-secondary" ngbDropdownToggle>Filters  </button>
        <div ngbDropdownMenu>
            <app-filters [attributes]="attributes" (updateFiltersEvt)="updateTableValues($event)"></app-filters>
        </div>
    </div>
    <input class="colorPicker" type="color" [(ngModel)]="colors.min" (change)="updateFeatStyles()">
        ...
    <input class="colorPicker" type="color" [(ngModel)]="colors.max" (change)="updateFeatStyles()">
</div>
<div>
    <app-details [hidden]="!showDetails" [style.height.px]="window.height - 108"
        [attributes]="attributes" [attribute]="attribute" [resolution]="resolution" [selectedFeature]="selectedFeature"
        [_values]="tableValues" [_filters]="filters" [_currentItem]="currentItem" [showInfo]="showInfo"
        (clickNameEvt)="selectFeatFromQuery($event)" (clickBackEvt)="deselectFeature()"
        (clickOrderEvt)="selectAttribute($event, true)" (sortValuesEvt)="updateFeatStyles()">
    </app-details>
    <div id="map" [style.width.px]="window.width - (showDetails ? 550 : 0)" [style.height.px]="window.height - 108"></div>
    <div id="tooltip" [hidden]="!showTooltip" [style.left.px]="mouse?.x - tooltipWidth / 2" [style.top.px] = "mouse?.y - 80">
        <b>{{tooltipText?.name}}</b><br>
        {{tooltipText?.value}}
    </div>
</div>