:host
    width: 500px
    float: left
    background-color: #fffcf9
    overflow-y: scroll

table
    margin: 16px auto

    td, th
        padding: 8px 16px

    tr:nth-child(even), th
        background-color: #f0f0f0