<table [hidden]="showInfo">
    <thead>
        <tr>
            <th>#</th>
            <th class="sortColumn" (click)="changeSortOrder('name')">
                Name<img class="sortImg" src={{sortImgPath.name}} width="12" height="12">
            </th>
            <th class="sortColumn" (click)="changeSortOrder('value')">
                Population<img class="sortImg" src={{sortImgPath.value}} width="12" height="12">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of values; index as i">
            <td>{{i + 1}}</td>
            <td><a [routerLink]="" (click)="clickName(item)">{{item.Name.S}}</a></td>
            <td>{{item.Population.N}}</td>
        </tr>
    </tbody>
</table>
<div [hidden]="!showInfo">
    <div class="line">
        <img id="backBtn" src="../../assets/images/arrow-left.svg" width="24" height="24" (click)="clickOrder()">
        <span id="infoName"><b>{{currentItem?.Name.S}}</b></span>
    </div>
    <div class="line">
        <span id="infoRow">Population: {{currentItem?.Population.N}}</span>
        <span id="order">
            <i>(<a [routerLink]="" (click)="clickOrder('Population')">{{currentItem?.order}}</a>)</i>
        </span>
    </div>
</div>