:host
    width: 550px
    float: left
    background-color: #fffcf9
    overflow-y: scroll
    padding: 12px

table
    margin: 0 auto

    td, th
        padding: 8px 16px

    tr:nth-child(even), th
        background-color: #f0f0f0

.sortColumn
    user-select: none

    &:hover
        cursor: pointer

.sortImg
    margin: 0 8px 3px 8px

a
    color: inherit
    text-decoration: underline

    &:hover
        text-decoration: none

.line
    padding: 0 0 8px 0

#backBtn
    margin: 0 10px 8px 10px

    &:hover
        cursor: pointer

#infoName
    font-size: 26px

#infoRow
    margin: 0 0 0 12px

#moe
    font-size: 12px

#order
    color: #999999
    margin: 0 8px