<table [hidden]="showInfo">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Population</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of values; index as i">
            <td>{{i + 1}}</td>
            <td><a [routerLink]="" (click)="clickName(item)">{{item.Name.S}}</a></td>
            <td>{{item.Population.N}}</td>
        </tr>
    </tbody>
</table>
<div [hidden]="!showInfo">
    <div class="line">
        <img src="../../assets/images/arrow-left.svg" width="24" height="24" (click)="clickOrder()">
        <span id="infoName"><b>{{currentItem?.Name.S}}</b></span>
    </div>
    <div class="line">
        <span id="infoRow">Population: {{currentItem?.Population.N}}</span>
        <span id="order">
            <i>(<a [routerLink]="" (click)="clickOrder('Population')">{{currentItem?.order}}</a>)</i>
        </span>
    </div>
</div>